streamlit>=1.32.0
langchain==0.2.10
langchain-community==0.2.9
langchain-openai==0.1.23
langchain-chroma==0.1.4
chromadb==0.4.23
protobuf==3.20.3
requests
python-dotenv
google-search-results==2.4.2
pypdf
python-docx
pytesseract
pillow
opencv-python
